.questionsBox {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h3{
  color: white;
  font-family: 'FonteLegal' ;
  font-weight: lighter;
  font-size: 30px;
}

.ButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  padding: 30px;
}

.botoes {
  padding: 10px;
  margin: 10px;
  margin: 0 5px;
}



h2{
    color: aliceblue;
    font-weight: lighter;
}

.resposta{
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Minha Fonte', sans-serif;
    border-style: none;
    padding: 10px 20px;

}


body {
    background-color: black;
    margin: 0;
}

.content-home {
    color: white;
    display:block;
    text-align: center;
    
  }

  .titulo {
    font-family: 'Minha Fonte', sans-serif; /* define a fonte personalizada */
    font-size: 32px; /* define o tamanho da fonte */
    color: white; /* define a cor do texto */
    text-align: center; /* centraliza o texto na horizontal */
    margin-top: 100px;
  }

  @font-face {
    font-family: 'Minha Fonte';
    src: url('../Font/fonte_pixel.ttf');
  }

  @font-face {
    font-family: 'FonteLegal';
    src: url('../Font/La\ Machine\ Company.ttf');
  }

body {
    background-color: black;
    margin: 0;
}

.content-enigma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pergunta {
    font-family: 'Minha Fonte', sans-serif;
    font-size: 32px; 
    color: white;
    text-align: center; 
    margin-top: 50px;
  }

  p{
    font-family: 'Minha Fonte', sans-serif;
    font-size: 32px; 
    color: white;
    text-align: center; 
    margin-top: 100px;
  }