@font-face {
    font-family: 'Minha Fonte';
    src: url('../Font/fonte_pixel.ttf');
    
  }

  @font-face {
    font-family: 'FonteLegal';
    src: url('../Font/arcade.ttf');
  }

  @font-face {
    font-family: 'bttf';
    src: url('../Font/La\ Machine\ Company.ttf');
  }

body {
    background-color: black;
    margin: 0;
}



.content-home {
    color: white;
    display:block;
    text-align: center;
    
  }
  
.tituloHome {
    font-family: 'bttf'; 
    font-size: 48px; 
    color: white;
    text-align: center; 
    margin-top: 100px;
    font-weight: lighter;
  }

.btnStart{

    background-color: #5E308C;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Minha Fonte', sans-serif;
    box-shadow: none;
    border-style: none;
    font-weight: lighter;

}

.btnStart:active{
    background-color: #311E59;
}