@font-face {
    font-family: 'Minha Fonte';
    src: url('../Font/fonte_pixel.ttf');
  }

body {
    background-color: black;
    margin: 0;
}

.content-home {
    color: white;
    display:block;
    text-align: center;
    
  }

  .titulo {
    font-family: 'FonteLegal', sans-serif; /* define a fonte personalizada */
    font-size: 32px; /* define o tamanho da fonte */
    color: white; /* define a cor do texto */
    text-align: center; /* centraliza o texto na horizontal */
    margin-top: 100px;
  }

  @font-face {
    font-family: 'Minha Fonte';
    src: url('../Font/fonte_pixel.ttf');
  }

  @font-face {
    font-family: 'FonteLegal';
    src: url('../Font/arcade.ttf');
  }

body {
    background-color: black;
    margin: 0;
}

.content-enigma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tituloEnigma {
    font-family: 'FonteLegal', sans-serif;
    font-size: 32px; 
    color: white;
    text-align: center; 
    margin-top: 100px;
    font-weight: lighter;
  }

  .questionsBox{
    padding-left: 80px;
    padding-right: 80px;
  }

  .botoes{
    background-color: #5E308C;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Minha Fonte', sans-serif;
    box-shadow: none;
    border-style: none;
    margin: 30px;

    
    
  }

  .botoes:active{
    background-color: #311E59;
}

  .botoes:hover{
    background-color: #311E59;
  }